body{
    margin: 0;
    padding: 0;
 }	

 .page-container{ 
    display: grid;
    min-width: 100vw;
    min-height: 100vh;
    gap: 2rem;
 }	
 .side{ 
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    border-style: solid;
    border-color: blue;
    background-color: #164e63;
    color: #ecfeff;
    padding: 1rem;
    
 }	
 .top{ 
    grid-column-start: 1;
    grid-column-end: 4;
    border-style: solid;
    border-color: greenyellow;
 }	
 .mid{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    border-style:solid;
    border-color: red;
  }	
  h1{
    padding-left: .5rem;
    margin: 0;
  }
  .l{
    display: flex;
  }
  .logo-pic{
    height: 36px;
  }
  a{
    text-decoration: none;
    color: #ecfeff;
    padding: .5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .links{
    display: grid;
    align-items:baseline;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .support{
    margin-top: 3rem;
  }
  .link, .sp{
    align-items: baseline;
    padding: .5rem 0 ;
  }
  

 
